body {
    font-family: cursive;
}

hr {
    margin: 5px 0px;
    background-color: rgb(10, 101, 104);
    border: 1px solid rgb(10, 101, 104);
}

/* Start container */
.container {
    min-width: 200px;
    max-width: 1000px;
    background-color: #bbb;
    margin: 0px auto;
    padding: 10px;
    color: #fff;
    text-align: center;
}

/* End container */

/* Start btn-alert */
.btn-alert {
    border: none;
    background-color: #187753;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    transition: all ease .3s;
}

.btn-alert:hover {
    background-color: #353535;
    cursor: pointer;
}

.btn-alert:focus {
    border: none;
    outline: none;
}

/* End btn-alert */

/* Start Alert-container */
.alert-container {
    width: 400px;
    z-index: 2;
    border-radius: 10px;
    background-color: rgb(21, 183, 189);
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    color: #fff;
}

.animation-in-alert-container {
    animation: animation-in-alert-container 1s 1;
}
.animation-out-alert-container {
    animation: animation-out-alert-container 1s 1;
}

@keyframes animation-in-alert-container {
    from {
        right: -100%;
    }
    to{
        right: 10px;
    }
}

@keyframes animation-out-alert-container {
    from{
        right: 10px;
    }
    to{
        right: -100%;
        display: none;
    }
}

/* Stop Alert-container */

/* Start btn-close */
.btn-close {
    margin: 5px 5px;
    border: none;
    background-color: transparent;
    color: rgb(10, 101, 104);
    cursor: pointer;
    float: right;
    transition: all ease 0.3s;
}

.btn-close:hover {
    color: #bbb;
}

.btn-close:focus {
    outline: none;
    border: none;
}

/* End btn-close */

/* Start alert-header */
.alert-header {
    margin: 0px;
    padding: 0px;
}

/* End alert-header */

/* Start alert-message */
.alert-message {
    text-align: justify;
    font-size: 0.8em;
}

/* End alert-message */

/* Start alert-progress */
.alert-progress {
    width: 100%;
    height: 5px;
    background-color: #187753;
    border-radius: 10px;
}

.animation-progress {
    animation-name: alert-progress;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes alert-progress {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

/* End alert-progress */